.card {
    max-width: 183px;
    max-height: 78px;
    border-radius: 4px;
  }
  
  .top, .bottom {
    display: flex;
    flex: 1;
    width: 100%;
  }
  
  .card .name {
    padding: 8px 12px;
    font-weight: bold;
    width: 60%;
    font-size: 12px;
  }
  
  .card .name span {
    margin: 0px 0px 0px 4px;
    font-weight: normal;
    font-size: 10px;
  }
  
  .card .percentage {
    font-size: 14px;
    width: 40%;
    margin: 8px;
    text-align: right;
  }
  
  .card .logo {
    width: 30%;
    text-align: center;
    margin: 5px;
  }
  
  .card .price {
    width: 80%;
    margin: 8px 0;
    font-size: 18px;
  }
  
  .card .percentage.gain,
  .card .price.gain {
    color: #A1D6E2;
  }
  
  .card .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    position: relative;
  }
  
  .card .price.gain .triangle {
    top: -17px;
    left: 8px;
    border-width: 0 5px 8.7px 5px;
    border-color: transparent transparent #A1D6E2 transparent;
  }
  
  .card .price.loss .triangle {
    top: 17px;
    left: 8px;
    border-width: 8.7px 5px 0 5px;
    border-color: #e60000 transparent transparent transparent;
  }
  
  .card .percentage.loss,
  .card .price.loss {
    color: #e60000;
  }