
.vertical-timeline-element-title {
   /* box-shadow: 0 30px 40px black; */
   text-align: center;
}
.vertical-timeline-element-subtitle {
   text-align: center;
}

.timeLine {
   /* border-bottom: 1px solid #08fdd8;
   box-shadow: 0 0 40px black; */
}

.btn {
   border: 1px solid #A1D6E2;
   padding: 8px;
   border-radius: 30px;
   font-size: 15px;
   cursor: pointer;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   margin-top: 9px;
   width: 34%;
   text-decoration: none;
   color: #1995AD;
}

.text-description {
   text-align: center;
   margin-top: 5px;
}
.btn:hover {
   color: white;
   background-color: #1995AD;

}