html, body {
  margin: 0;
  padding: 0;
  background-color: #A1D6E2;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    padding: 0;
  }
}
.App {
  /* background-color: #A1D6E2; */
}
html{
  scroll-behavior: smooth;
}

